<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SouP | 메인</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body id="page-top">
    <div id="wrapper">
        <div th:replace="/fragments/aside.html :: fragment-aside"></div>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div th:replace="/fragments/nav.html :: fragment-nav"></div>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">새로운 프로젝트/스터디</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"></i>&nbsp;프로젝트 생성하기</a>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                            <div class="col-auto"><i class="fas fa-thin fa-heart text-gray-700"><span style="padding-left: 0.5rem;">1</span></i></div>
                                        </div>
                                            <div class="col-auto"><i class="fas fa-thin fa-file fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                            <div class="col-auto"><i class="fas fa-thin fa-heart text-gray-700"><span style="padding-left: 0.5rem;">1</span></i></div>
                                        </div>
                                            <div class="col-auto"><i class="fas fa-thin fa-file fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                            <div class="col-auto"><i class="fas fa-thin fa-heart text-gray-700"><span style="padding-left: 0.5rem;">1</span></i></div>
                                        </div>
                                            <div class="col-auto"><i class="fas fa-thin fa-file fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                            <div class="col-auto"><i class="fas fa-thin fa-heart text-gray-700"><span style="padding-left: 0.5rem;">1</span></i></div>
                                        </div>
                                            <div class="col-auto"><i class="fas fa-thin fa-file fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <h3 class="text-dark mb-0">핫한 스토리</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"></i>&nbsp;게시판 글 생성하기</a>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>작성자</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>게시판글 제목</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>카테고리</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>프로젝트 제목</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:replace="/fragments/footer.html :: fragment-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
    <script src="js/bs-init.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>