<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body id="page-top">
<div id="wrapper">
    <div id="logindiv" class="modalWrapOpen">
        <div class="loginModal">
            <p class="modalTit"><strong>로그인</strong></p>
            <button class="loginBtn naver" onclick="location.href='/oauth2/authorization/naver'">네이버 아이디로 로그인</button>
            <button class="loginBtn kakao" onclick="location.href='/oauth2/authorization/kakao'">카카오 계정으로 로그인</button>
            <button class="loginBtn facebook" onclick="location.href='/oauth2/authorization/facebook'">페이스북 계정으로 로그인</button>
            <button class="loginBtn google" onclick="location.href='/oauth2/authorization/google'">구글 계정으로 로그인</button>
        </div>
    </div>
    <div id="registerdiv" class="modalWrapOpen">
        <div class="loginModal">
            <p class="modalTit"><strong>회원가입</strong></p>
            <button class="loginBtn naver" onclick="location.href='/oauth2/authorization/naver'">네이버 아이디로 로그인</button>
            <button class="loginBtn kakao" onclick="location.href='/oauth2/authorization/kakao'">카카오 계정으로 로그인</button>
            <button class="loginBtn facebook" onclick="location.href='/oauth2/authorization/facebook'">페이스북 계정으로 로그인</button>
            <button class="loginBtn google" onclick="location.href='/oauth2/authorization/google'">구글 계정으로 로그인</button>
        </div>
    </div>
</div>
</body>
</html>