<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SouP | project</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="/fragments/aside.html :: fragment-aside"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div th:replace="/fragments/nav.html :: fragment-nav"></div>

            <h1>스프링부트로 시작하는 웹 서비스 Ver.2</h1>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/buildProject" role="button" class="btn btn-primary" style="float: left; margin-left: 5%">글 등록</a>
                        <div th:if="${userName!=null}">
                        <p style="float: left; margin-left: 5%">Logged in as: </p><span id="user" th:text="${userName}" style="float: left; margin-left: 5%"></span>
                        <a href="/logout" class="btn btn-info active" role="button" style="float: left; margin-left: 5%">Logout</a>
                        </div>

                        <div th:unless="${userName!=null}">
                        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button" style="float: left; margin-left: 5%">Google Login</a>
                        <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button" style="float: left; margin-left: 5%">Naver Login</a>
                            <a href="/oauth2/authorization/kakao" class="btn btn-third active" role="button">Kakao Login</a>
                        </div>
                    </div>
                </div>
                <br>
                <!-- 목록 출력 영역 -->
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>게시글번호</th>
                        <th>제목</th>
                        <th>내용</th>
                        <th>최종수정일</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr th:each="list : ${p}">
                        <td th:text="${list.id}"></td>
                        <td><a th:href="@{/project/edit/{id}(id=${list.id})}"><p th:text="${list.projectName}"></p></a></td>
                        <td th:text="${list.text}"></td>
                        <td th:text="${list.createdDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="/fragments/footer.html :: fragment-footer"></div>
        </div>
    </div>
</div>

<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/bs-init.js"></script>
<script src="js/theme.js"></script>
</body>

</html>