<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="fragment-aside" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
        <img class="sidebar-img" src="/img/logo.png" style="width: 224px;  height: 95px; object-fit: cover;">
        <div class="sidebar-brand-text mx-3"></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="/project"><i class="fas fa-tachometer-alt"></i><span>프로젝트 | 스터디</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/profile"><i class="fas fa-user"></i><span>프로필</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/lounge"><i class="fas fa-table"></i><span>라운지</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>

</head>
</html>